<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>Campaign Management System</title>
</head>
<body>
	<section>
	
		<div class="container">
		
			<div class="my-card mb-3">
		
				<div class="card1-body">
				
					<h1 class="text-center">Your Templates</h1>
					
					<table class="table table-striped">
						<thead>
						  <tr>
						    <th scope="col">#Id</th>
						    <th scope="col">Template Title</th>
						    <th scope="col">Action</th>
						  </tr>
						</thead>
						<tbody>
						  <tr th:each="t : ${templates}">
						    <th scope="row" th:text="'CMSTEMPLATE'+${t.templateid}">1</th>
						    <td>
						    
						    <a href="" th:href="@{'/user/template/'+${t.templateid}}">
						    <span th:text="${t.title}"></span></a>
						    
						    
						    </td>
						    <td>
						    	<form method="post" th:action="@{'/user/template/'+${t.templateid}+'/delete'}" class="mt-2">
						    		<button type="submit" class="btn btn-danger btn-sm text-white">Delete Template</button>
						    	</form>
						    	<form method="post" th:action="@{'/user/template/'+${t.templateid}+'/update'}" class="mt-2">
						    		<button type="submit" class="btn btn-success btn-sm text-white">Update Template</button>
						    	</form>
						    
						    </td>
						  </tr>
						</tbody>
					</table>
					
					<!-- Pagination -->
					
					<nav aria-label="Page navigation example">
					
					  <ul class="pagination ml-3">
					  
					    <li th:if="${currentpage!=0}" class="page-item"><a class="page-link" th:href="@{'/user/show-templates/'+${currentpage-1}}" href="#">Previous</a></li>
					    
					    <li th:classappend="${currentpage==i-1?'active':''}" th:each="i: ${#numbers.sequence(1,totalpages)}" class="page-item"><a th:href="@{'/user/show-templates/'+${i-1}}" class="page-link" href="#"><span th:text="${i}"></span></a></li>
					    
					    <li th:if="${currentpage+1!=totalpages}" class="page-item"><a class="page-link" th:href="@{'/user/show-templates/'+${currentpage+1}}" href="#">Next</a></li>
					    
					  </ul>
					  
					</nav>
					
					<form method="get" th:action="@{/user/add-template}" class="mt-2">
			    		<button type="submit" class="btn btn-primary btn-sm btn-block text-white">Add Template</button>
			    	</form>
				
				</div>
			
			</div>
		
		</div>
		
		
		
	</section>
</body>
</html>